<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Product</title>
</head>
<body>
    <h2>New Product</h2>
    <form action="/product" method="post">
        Name: <input type="text" name="txtName" id="txtName" value="{{oldValues.name}}">
        <br>
        Price   <input type="text" name="txtPrice" id="txtPrice" value="{{oldValues.price}}">
        <span style="color: red;">{{error}}</span> 
        <br>
        Category: <select name="cbCategory">
                    {{#each categories}}
                        <option value="{{_id}}">{{CategoryName}}</option>
                    {{/each}}                    
                 </select>
        <Br>
        Picture URL
        <input type="text" name="txtPicURL" id="txtPicURL" size="150" value="{{oldValues.picURL}}">
        <br>
        <input type="submit" value="Insert">
    </form>
</body>
</html>